.block{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 24px;
    background: #ccd3ff;

    @media (max-width: 768px){
        padding: 18px;
    }

    > div:first-child{
        margin: 0 0 4px;
    }
}

.block.no_background{
    background: transparent;
}