.block{
    padding: 24px;
    margin: 0 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(3, 3, 3, .1);
}

.logo{
    width: 70px;
}

.logo_wrapper,
.profile_wrapper{
    flex: 1;
    display: flex;
    align-items: center;
}

.profile_wrapper{
    justify-content: flex-end;
}

.title{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin: 0 0 0 8px;
}

.navigation_item{
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }

    & + &{
        margin: 0 0 0 24px;
    }
}

.navigation_item_active{
    font-weight: 700;
}

.avatar_wrapper{
    width: 40px;
}

.navigation{
    flex: 1;
    display: flex;
    justify-content: center;
}

.user_email{
    margin: 0 0 0 8px;
    font-size: 14px;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.logout{
    margin: 0 0 0 24px;
    padding: 12px;
    cursor: pointer;
}