html,
body{
  color: #030303;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  scroll-behavior: smooth;
}

img{
  max-width: 100%;
}

a{
  color: #000;

  &:hover{
    text-decoration: none;
  }
}

.error-message{
  margin: 4px 0 0;
  color: var(--system-red, #FE3E3E);
  font-family: var(--font-opensans);
  font-size: 12px;
  line-height: 20px;
  display: block;
}

main{
  position: relative;
}